// import css reset
@import "compass/reset"

// fonts
/* latin-ext */
@font-face
	font-family: 'Oswald'
	font-style: normal
	font-weight: 300
	src: url(../fonts/Oswald-Light.ttf)
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
/* latin */
@font-face 
	font-family: 'Oswald'
	font-style: normal
	font-weight: 300
	src: url(../fonts/Oswald-Light.ttf)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* latin-ext */
@font-face 
	font-family: 'Oswald'
	font-style: normal
	font-weight: 400
	src: url(../fonts/Oswald-Regular.ttf)
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
	font-family: 'Oswald'
	font-style: normal
	font-weight: 400
	src: url(../fonts/Oswald-Regular.ttf)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* latin-ext */
@font-face 
	font-family: 'Oswald'
	font-style: normal
	font-weight: 700
	src: url(../fonts/Oswald-Bold.ttf)
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
	font-family: 'Oswald'
	font-style: normal
	font-weight: 700
	src: url(../fonts/Oswald-Bold.ttf)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000


// variables
$h1Color: #195bad
$h2Color: #5ba9c2
$h3Color: #a85950
$linkColor: #cc514a
$navBackgroundColor: #ccc
$bodyTextColor: #333

// mixins
=transition
	transition: all 0.26s ease-in-out
=headingText
	text-transform: uppercase
=vertAndHorizCenter
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

// text styles
html
	font-size: 16px
body
	font-family: 'Oswald', sans-serif
h1
	color: $h1Color
	font-size: 3rem
	line-height: 3.5rem
	text-align: center
	width: 50%
	background-color: rgba(200,200,200,0.7)
	padding: 5%
	+vertAndHorizCenter
	+headingText
h2
	color: $h2Color
	font-size: 3rem
	margin-bottom: 100px
	+headingText
h3
	color: $h3Color
	font-size: 1.5rem
	margin-bottom: 20px
	+headingText
h4
	@extend h3
p
	color: $bodyTextColor
	text-align: left
	font-size: 1.25rem
	line-height: 2rem
a
	&:link, &:visited
	color: $linkColor
	text-decoration: none
	+transition
	&:hover
		color: lighten($linkColor, 10)

// nav bar
.mobileNavUl
	display: none
.navUl
	position: absolute
	display: flex
	z-index: 1000
	top: 0
	right: 0
	width: 50%
	min-width: 320px
	box-shadow: 0px 0px 3px $navBackgroundColor
	li
		flex: 1
		text-align: center
		box-sizing: border-box
		+ *
			border-left: 1px solid #999
		a
			&:link, &:visited
				display: block
				padding: 16px 0
				background-color: $navBackgroundColor
				text-transform: uppercase
				+transition
			&:hover
				background-color: lighten($navBackgroundColor, 10)
.fixed
	position: fixed !important
				

// top splash section
.mainSplash
	position: fixed
	width: 100%
	height: 100%
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 1
	a
		position: absolute
		bottom: 20px
		left: 50%
		transform: translateX(-50%)
.imageBlock
	div
		position: fixed
		overflow: hidden
		border: 2px solid #fff
		box-sizing: border-box
		background-position: 50%
		background-size: cover
	.img1
		width: 50%
		height: 30%
		left: 0
		top: 0
		background-image: url(../img/splash-images/personal-id-mockup.jpg)
	.img2
		width: 50%
		height: 50%
		right: 0
		top: 0
		background-image: url(../img/splash-images/carpe-dilla-desk-mockup.jpg)
	.img3
		width: 30%
		height: 55%
		left: 0
		top: 30%
		background-image: url(../img/splash-images/msandberg-218-movie-poster-final.jpg)
	.img4
		width: 20%
		height: 20%
		left: 30%
		top: 30%
		background-image: url(../img/splash-images/cyber-spartan-concept-drawing.jpg)
	.img5
		width: 40%
		height: 35%
		left: 30%
		top: 50%
		background-image: url(../img/splash-images/fireswing-v3.jpg)
	.img6
		width: 30%
		height: 35%
		right: 0
		top: 50%
		background-image: url(../img/splash-images/spartan-v4-render.jpg)
#mobileNextArrow
	display: none
.next-arrow
	position: absolute
	bottom: 0
	left: 50%
	transform: translateX(-50%)
	color: $linkColor
	animation: arrow-bounce 2s infinite

	+transition
	&:hover
		color: lighten($linkColor, 10)

		@keyframes arrow-bounce
			0%, 100%
				transform: translateY(0) translateX(-50%)
			50%
				transform: translateY(-20px) translateX(-50%)
		
// after splash sections
.afterSplash
	position: absolute
	width: 100%
	top: 100%
	z-index: 100
	background: #fff

// content sections
.contentArticle
	max-width: 1280px
	margin: 0 auto
	padding: 48px
	overflow: hidden

// my work
.carouselWrapper
	margin: 140px 0 0
	text-align: center
	.imageContainer
		width: 384px
		height: 216px
		margin: 0 auto 100px
		position: relative
		perspective: 1536px
		.carouselButton
			width: 100px
			height: 288.208px
			position: absolute
			z-index: 10
			top: -37px
			cursor: pointer
			+transition
			&:before			    
				font-family: FontAwesome
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				font-size: 7rem
				color: rgba(255, 255, 255, .5)
		.prev
			left: -180px
			background: linear-gradient(to left, rgba(99,99,99,0.15) 0%, rgba(166,166,166,0) 100%)
			&:hover
				height: 320px
				width: 130px
				left: -210px
				top: -53px
			&:before
				content: "\f104"
		.next
			right: -180px
			background: linear-gradient(to right, rgba(99,99,99,0.15) 0%, rgba(166,166,166,0) 100%)
			&:hover
				height: 320px
				width: 130px
				right: -210px
				top: -53px
			&:before
				content: "\f105"

		#carousel
			width: 100%
			height: 100%
			position: absolute
			transform-style: preserve-3d
			.image
				display: block
				position: absolute
				left: 19px
				top: 10px
				width: 90%
				height: 90%
				transition: transform .75s ease-in-out
				backface-visibility: hidden
				box-shadow: 0px 35px 60px -35px #333
				background-repeat: no-repeat
				background-size: 100%
				background-color: #fff
				background-position: center
				&:nth-child(1)
					background-image: url(../img/mockups/carpe-dilla-desk-mockup.jpg)
					transform: rotateY(0deg) translateZ(500px)
				&:nth-child(2)
					background-image: url(../img/mockups/anim-work-mockup.jpg)
					transform: rotateY(60deg) translateZ(300px)
				&:nth-child(3)
					background-image: url(../img/mockups/fireswing-final.jpg)
					transform: rotateY(120deg) translateZ(300px)
				&:nth-child(4)
					background-image: url(../img/mockups/movie-poster-mockup.jpg)
					transform: rotateY(180deg) translateZ(300px)
				&:nth-child(5)
					background-image: url(../img/mockups/personal-id-mockup.jpg)
					transform: rotateY(240deg) translateZ(300px)
				&:nth-child(6)
					background-image: url(../img/mockups/dps-mockup.jpg)
					transform: rotateY(300deg) translateZ(300px)

.mobileWork
	display: none

.descriptionBlock
	min-height: 300px
	max-width: 514px
	position: relative
	margin: 0 auto
	&:before
		content: ""
		position: absolute
		left: 0
		top: 0
		height: 1px
		width: 100%
		background-image: linear-gradient(to right, rgba(204,204,204,0), rgba(204,204,204,1), rgba(204,204,204,1), rgba(204,204,204,1), rgba(204,204,204,0) )

.descriptionSection
	height: 0
	opacity: 0
	visibility: hidden
	&.active
		height: initial
		visibility: visible
		opacity: 1
		margin: 0 auto
		padding-top: 50px
		transition: opacity 0.75s ease-in-out
	h3
		text-align: center
		a:link, a:visited
			color: $linkColor
			text-decoration: none
			+transition
		a:hover
			color: lighten($linkColor, 10)
	.showLess
		display: none
.moreSection
	opacity: 0
	visibility: hidden
	height: 0
	margin: 0
	+transition
	h4
		font-size: 1.25rem
		text-align: left
		margin: 20px 0 10px
	ul
		li
			line-height: 1.25rem
			text-indent: 10px
			&:before
				content: "\2012"
				font-weight: 600
				margin-right: 5px
	img
		width: 100%
		margin: 10px 0
		border: 1px solid #ddd
	.iterationDescription
		margin-bottom: 40px
	&.show
		opacity: 1
		visibility: visible
		height: initial


// resume section
.resumeArticle
	div
		text-align: center
		width: 50%
		margin: 50px auto 20px
		img
			box-shadow: 0 0 5px 0 #bbb
			width: 100%
			+transition
			&:hover
				box-shadow: 0 0 15px 2px #bbb
				transform: scale(1.01)
			a
				display: inline-block
	p
		width: 50%
		margin: 0 auto
		a
			&:hover
				color: lighten($linkColor, 10)

// about me section
#about
	overflow: hidden
.aboutRow
	overflow: hidden
	margin-bottom: 100px
	&:last-child
		margin-bottom: 0
	.aboutSection
		width: 50%
		padding-right: 48px
		box-sizing: border-box
		float: left
		&:last-child
			padding-right: 0

// link to top
.topLink
	display: none
	position: fixed
	bottom: 20px
	right: 5px
	z-index: 1000
	transition: none
	&:link, &:visited
		color: $bodyTextColor
		font:
			size: 2rem
			weight: 100
	&:before
		display: block
		content: '\f106'
		font:
			family: 'FontAwesome'
			size: 2.5rem
		text-align: center
	&.show
		display: block !important
	&.notFixed
		position: absolute
		bottom: 180px

//footer
footer
	background-color: $navBackgroundColor
	overflow: hidden
	padding: 20px 48px
.footerNav
	float: left
	width: 50%
	li + *
		padding-top: 10px
.copyright
	float: right
	width: 50%
	font-size: 1rem
	line-height: 120px
	text-align: right
	

// media queries!!!!!
@media only screen and (max-width: 1024px)
	.resumeArticle
		div
			width: 75%
			img
				&:hover
					box-shadow: 0 0 5px 0 #bbb
					transform: none
		p
			width: 75%


@media only screen and (max-width: 768px)
	.mobileNavUl
		position: absolute
		display: flex
		z-index: 1000
		top: 0
		right: 0
		width: 100%
		min-width: 320px
		box-shadow: 0px 0px 3px $navBackgroundColor
		li
			flex: 1
			text-align: center
			box-sizing: border-box
			+ *
				border-left: 1px solid #999
			a
				&:link, &:visited
					display: block
					padding: 16px 0
					background-color: $navBackgroundColor
					text-transform: uppercase
	.navUl
		display: none
	#mobileNextArrow
		display: block
	#desktopNextArrow
		display: none
	.desktopWork
		display: none
	.mobileWork
		display: block
	.workBlock
		margin: -88px 0 48px
		padding-top: 88px
		img
			width: 100%
			margin-bottom: 40px
		.showLess
			display: none

	.contentArticle
		padding: 96px 48px 0
	.resumeArticle
		div
			width: 100%
		p
			width: 100%
	.aboutRow
		margin: 0
		.aboutSection
			float: none
			width: 100%
			padding: 0
			margin-bottom: 80px
	.copyright
		clear: both
		float: none
		width: 100%
		text-align: center
		line-height: initial
		padding-top: 20px
	.topLink
		&.notFixed
			bottom: 220px