/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import compass/reset

// fonts
/* latin-ext */
@font-face
  font-family: 'Oswald'
  font-style: normal
  font-weight: 300
  src: url(../fonts/Oswald-Light.ttf)
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
/* latin */
@font-face 
  font-family: 'Oswald'
  font-style: normal
  font-weight: 300
  src: url(../fonts/Oswald-Light.ttf)
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* latin-ext */
@font-face 
  font-family: 'Oswald'
  font-style: normal
  font-weight: 400
  src: url(../fonts/Oswald-Regular.ttf)
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Oswald'
  font-style: normal
  font-weight: 400
  src: url(../fonts/Oswald-Regular.ttf)
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

/* latin-ext */
@font-face 
  font-family: 'Oswald'
  font-style: normal
  font-weight: 700
  src: url(../fonts/Oswald-Bold.ttf)
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Oswald'
  font-style: normal
  font-weight: 700
  src: url(../fonts/Oswald-Bold.ttf)
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000


// variables
$h1Color: #195bad
$h2Color: #5ba9c2
$h3Color: #a85950
$linkColor: #cc514a
$navBackgroundColor: #ccc
$bodyTextColor: #333

// mixins
=transition
  transition: all 0.26s ease-in-out
=headingText
  text-transform: uppercase
=vertAndHorizCenter
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
=displayFlex
  display: -ms-flex
  display: -webkit-flex
  display: flex
=flexAlignItems($alignment)
  -ms-align-items: $alignment
  -webkit-align-items: $alignment
  align-items: $alignment
=flexWrap($wrapBehavior)
  -ms-flex-wrap: $wrapBehavior
  -webkit-flex-wrap: $wrapBehavior
  flex-wrap: $wrapBehavior
=flexJustifyContent($alignment)
  -ms-justify-content: $alignment
  -webkit-justify-content: $alignment
  justify-content: $alignment
=flexShorthand($flex-grow, $flex-shrink, $flex-basis)
  -ms-flex: $flex-grow $flex-shrink $flex-basis
  -webkit-flex: $flex-grow $flex-shrink $flex-basis
  flex: $flex-grow $flex-shrink $flex-basis

// text styles
html
  font-size: 16px
body
  font-family: 'Oswald', sans-serif
  .loadingText
    display: none
  &.loading
    overflow: hidden
    .loadingText
      display: block
      z-index: 3000
      +vertAndHorizCenter
      position: fixed
      h6
        font-size: 2rem
        color: $h3Color
        text-align: center
      p
        text-align: center
        margin-top: 1rem
    &:before
      content: ''
      width: 100vw
      height: 100vh
      display: block
      position: fixed
      background-color: #fff
      z-index: 2000
h1
  font-size: 3rem
  line-height: 1.2em
  color: $bodyTextColor
  text-align: center
  background-color: rgba(255,255,255,0.4)
  padding: 70px
  width: 50%
  min-width: 500px
  box-sizing: border-box
  +vertAndHorizCenter
  +headingText
h2
  font-size: 3rem
  line-height: 1.2em
  color: $h2Color
  margin-bottom: 100px
  +headingText
h3
  font-size: 1.5rem
  line-height: 1.2em
  color: $h3Color
  margin-bottom: 20px
  +headingText
h4
  @extend h3
p
  color: $bodyTextColor
  text-align: left
  font-size: 1.25rem
  line-height: 2rem
a
  &:link, &:visited
  color: $linkColor
  text-decoration: none
  +transition
  &:hover
    color: lighten($linkColor, 10)

// top splash section
.mainSplash
  position: fixed
  width: 100%
  height: 100%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 1
  a
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
  .heroImage:before
    content: ''
    background-image: url(../img/mikkel-hero-image.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    display: block
    width: 100vw
    height: 100vh
.next-arrow
  font-size: 8rem
  color: #fff
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  animation: arrow-bounce 2s infinite
  @keyframes arrow-bounce
    0%, 100%
      transform: translateY(0) translateX(-50%)
    50%
      transform: translateY(-20px) translateX(-50%)
    
// after splash sections
.afterSplash
  position: absolute
  width: 100%
  top: 100%
  z-index: 100
  background: #fff

// content sections
.contentArticle
  max-width: 1280px
  margin: 0 auto
  padding: 48px
  overflow: hidden

// my work
.carouselWrapper
  margin: 140px 0 0
  text-align: center
  .imageContainer
    width: 384px
    height: 216px
    margin: 0 auto 100px
    position: relative
    perspective: 2500px
    .carouselButton
      position: absolute
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      z-index: 10
      &:before          
        font-family: FontAwesome
        font-size: 7rem
        color: $bodyTextColor
        +vertAndHorizCenter
        +transition
      &:hover:before
        transform: translate(-50%, -50%) scale(1.1)
    .prev
      left: -120px
      &:before
        content: "\f104"
    .next
      right: -120px
      &:before
        content: "\f105"

    #carousel
      width: 100%
      height: 100%
      position: absolute
      transform-style: preserve-3d
      .image
        display: block
        position: absolute
        left: 19px
        top: 10px
        width: 90%
        height: 90%
        transition: transform .75s ease-in-out
        backface-visibility: hidden
        box-shadow: 0px 35px 60px -35px #333
        background-repeat: no-repeat
        background-size: 100%
        background-color: #fff
        background-position: center
        &#animWork-carouselImage
          background-image: url(../img/mockups/anim-work-mockup.jpg)
        &#fireswing-carouselImage
          background-image: url(../img/mockups/fireswing-final.jpg)
        &#moviePoster-carouselImage
          background-image: url(../img/mockups/movie-poster-mockup.jpg)
        &#personalId-carouselImage
          background-image: url(../img/mockups/personal-id-mockup.jpg)
        &#apcEntertainment-carouselImage
          background-image: url(../img/mockups/apc-entertainment.png)
        &#friendQuest-carouselImage
          background-image: url(../img/mockups/friend-quest.png)

.mobileWork
  display: none

.descriptionBlock
  min-height: 300px
  max-width: 514px
  position: relative
  margin: 0 auto
  &:before
    content: ""
    position: absolute
    left: 0
    top: 0
    height: 1px
    width: 100%
    background-image: linear-gradient(to right, rgba(204,204,204,0), rgba(204,204,204,1), rgba(204,204,204,1), rgba(204,204,204,1), rgba(204,204,204,0) )

.descriptionSection
  height: 0
  opacity: 0
  visibility: hidden
  &.active
    height: initial
    visibility: visible
    opacity: 1
    margin: 0 auto
    padding-top: 50px
    transition: opacity 0.75s ease-in-out
  h3
    text-align: center
    a:link, a:visited
      color: $linkColor
      text-decoration: none
      +transition
    a:hover
      color: lighten($linkColor, 10)
  .showLess
    display: none
.moreSection
  opacity: 0
  visibility: hidden
  height: 0
  margin: 0
  +transition
  h4
    font-size: 1.25rem
    text-align: left
    margin: 20px 0 10px
  ul
    li
      line-height: 1.25rem
      text-indent: 10px
      &:before
        content: "\2012"
        font-weight: 600
        margin-right: 5px
  img
    width: 100%
    margin: 10px 0
    border: 1px solid #ddd
  .iterationDescription
    margin-bottom: 40px
  &.show
    opacity: 1
    visibility: visible
    height: initial
  .episodeList
    margin: 10px 0 40px
.friendQuestPlayer
  margin: 20px 0 40px

// resume section
.resumeArticle
  div
    text-align: center
    width: 50%
    margin: 50px auto 20px
    img
      box-shadow: 0 0 5px 0 #bbb
      width: 100%
      +transition
      &:hover
        box-shadow: 0 0 15px 2px #bbb
        transform: scale(1.01)
      a
        display: inline-block
  p
    width: 50%
    margin: 0 auto
    a
      &:hover
        color: lighten($linkColor, 10)

// about me section
#about
  overflow: hidden
.aboutRow
  overflow: hidden
  margin-bottom: 100px
  &:last-child
    margin-bottom: 0
  .aboutSection
    width: 50%
    padding-right: 48px
    box-sizing: border-box
    float: left
    &:last-child
      padding-right: 0
.socialIcons
  +displayFlex
  a
    +flexShorthand(0, 0, auto)
    &:not(:first-of-type)
      margin-left: 15px
    &:before
      content: ''
      background-image: url(../img/social-icons-sprite.png)
      background-size: cover
      background-repeat: no-repeat
      display: block
      width: 50px
      height: 50px
    &.linkedin:before
      background-position: 0 -58px
    &.twitter:before
      background-position: 0 -116px
    &.youtube:before
      background-position: 0 -171px

// link to top
.topLink
  display: none
  position: fixed
  bottom: 20px
  right: 5px
  z-index: 1000
  transition: none
  &:link, &:visited
    color: $bodyTextColor
    font:
      size: 2rem
      weight: 100
  &:before
    display: block
    content: '\f106'
    font:
      family: 'FontAwesome'
      size: 2.5rem
    text-align: center
  &.show
    display: block !important
  &.notFixed
    position: absolute
    bottom: 180px

//footer
footer
  background-color: $navBackgroundColor
  padding: 20px 48px
  .footerInner
    +displayFlex
    +flexAlignItems(center)
    margin: 0 auto
    max-width: 1280px
    > *
      +flexShorthand(1, 0, 50%)
.footerNav
  li + *
    padding-top: 10px
.copyright
  font-size: 1rem
  text-align: right
  

// media queries
@media only screen and (max-width: 1024px)
  .resumeArticle
    div
      width: 75%
      img
        &:hover
          box-shadow: 0 0 5px 0 #bbb
          transform: none
    p
      width: 75%


@media only screen and (max-width: 768px)
  h1
    font-size: 2rem
    padding: 50px
    width: 80%
    min-width: 0

  h2
    margin-bottom: 48px

  .next-arrow
    font-size: 5rem

  .desktopWork
    display: none
  .mobileWork
    display: block
  .workBlock
    margin: -48px 0 48px
    padding-top: 48px
    img
      width: 100%
      margin-bottom: 20px
    .showLess
      display: none

  .contentArticle
    padding: 48px 48px 0
  .resumeArticle
    div
      width: 100%
    p
      width: 100%
  .aboutRow
    margin: 0
    .aboutSection
      float: none
      width: 100%
      padding: 0
      margin-bottom: 80px
  footer
    .footerInner
      +displayFlex
      +flexAlignItems(center)
      +flexWrap(wrap)
      +flexJustifyContent(center)
      > *
        +flexShorthand(1, 0, 100%)
  .footerNav
    +displayFlex
    +flexWrap(wrap)
    li
      +flexShorthand(1, 0, auto)
      text-align: center
      padding-top: 20px
      &:first-of-type
        +flexShorthand(0, 0, 100%)
        padding-top: 0
  .copyright
    line-height: 1.5
    text-align: center
    padding-top: 20px
    max-width: 170px
  .topLink
    &.notFixed
      bottom: 180px