@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Program Files (x86)/compass-app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* latin-ext */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Oswald-Light.ttf);
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Oswald-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Oswald-Regular.ttf);
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Oswald-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Oswald-Bold.ttf);
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Oswald-Bold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* line 97, ../sass/screen.sass */
html {
  font-size: 16px;
}

/* line 99, ../sass/screen.sass */
body {
  font-family: "Oswald", sans-serif;
}
/* line 101, ../sass/screen.sass */
body .loadingText {
  display: none;
}
/* line 103, ../sass/screen.sass */
body.loading {
  overflow: hidden;
}
/* line 105, ../sass/screen.sass */
body.loading .loadingText {
  display: block;
  z-index: 3000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
/* line 110, ../sass/screen.sass */
body.loading .loadingText h6 {
  font-size: 2rem;
  color: #a85950;
  text-align: center;
}
/* line 114, ../sass/screen.sass */
body.loading .loadingText p {
  text-align: center;
  margin-top: 1rem;
}
/* line 117, ../sass/screen.sass */
body.loading:before {
  content: "";
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  background-color: #fff;
  z-index: 2000;
}

/* line 125, ../sass/screen.sass */
h1 {
  font-size: 3rem;
  line-height: 1.2em;
  color: #333;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 70px;
  width: 50%;
  min-width: 500px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

/* line 137, ../sass/screen.sass */
h2 {
  font-size: 3rem;
  line-height: 1.2em;
  color: #5ba9c2;
  margin-bottom: 100px;
  text-transform: uppercase;
}

/* line 143, ../sass/screen.sass */
h3, h4 {
  font-size: 1.5rem;
  line-height: 1.2em;
  color: #a85950;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* line 151, ../sass/screen.sass */
p {
  color: #333;
  text-align: left;
  font-size: 1.25rem;
  line-height: 2rem;
}

/* line 156, ../sass/screen.sass */
a {
  color: #cc514a;
  text-decoration: none;
  transition: all 0.26s ease-in-out;
}
/* line 161, ../sass/screen.sass */
a:hover {
  color: #d77772;
}

/* line 165, ../sass/screen.sass */
.mainSplash {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* line 173, ../sass/screen.sass */
.mainSplash a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* line 178, ../sass/screen.sass */
.mainSplash .heroImage:before {
  content: "";
  background-image: url(../img/mikkel-hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 100vw;
  height: 100vh;
}

/* line 187, ../sass/screen.sass */
.next-arrow {
  font-size: 8rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: arrow-bounce 2s infinite;
}
@keyframes arrow-bounce {
  0%, 100% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-20px) translateX(-50%);
  }
}
/* line 202, ../sass/screen.sass */
.afterSplash {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 100;
  background: #fff;
}

/* line 210, ../sass/screen.sass */
.contentArticle {
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px;
  overflow: hidden;
}

/* line 217, ../sass/screen.sass */
.carouselWrapper {
  margin: 140px 0 0;
  text-align: center;
}
/* line 220, ../sass/screen.sass */
.carouselWrapper .imageContainer {
  width: 384px;
  height: 216px;
  margin: 0 auto 100px;
  position: relative;
  perspective: 2500px;
}
/* line 226, ../sass/screen.sass */
.carouselWrapper .imageContainer .carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
/* line 232, ../sass/screen.sass */
.carouselWrapper .imageContainer .carouselButton:before {
  font-family: FontAwesome;
  font-size: 7rem;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.26s ease-in-out;
}
/* line 238, ../sass/screen.sass */
.carouselWrapper .imageContainer .carouselButton:hover:before {
  transform: translate(-50%, -50%) scale(1.1);
}
/* line 240, ../sass/screen.sass */
.carouselWrapper .imageContainer .prev {
  left: -120px;
}
/* line 242, ../sass/screen.sass */
.carouselWrapper .imageContainer .prev:before {
  content: "";
}
/* line 244, ../sass/screen.sass */
.carouselWrapper .imageContainer .next {
  right: -120px;
}
/* line 246, ../sass/screen.sass */
.carouselWrapper .imageContainer .next:before {
  content: "";
}
/* line 249, ../sass/screen.sass */
.carouselWrapper .imageContainer #carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}
/* line 254, ../sass/screen.sass */
.carouselWrapper .imageContainer #carousel .image {
  display: block;
  position: absolute;
  left: 19px;
  top: 10px;
  width: 90%;
  height: 90%;
  transition: transform 0.75s ease-in-out;
  backface-visibility: hidden;
  box-shadow: 0px 35px 60px -35px #333;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  background-position: center;
}
/* line 268, ../sass/screen.sass */
.carouselWrapper .imageContainer #carousel .image#animWork-carouselImage {
  background-image: url(../img/mockups/anim-work-mockup.jpg);
}
/* line 270, ../sass/screen.sass */
.carouselWrapper .imageContainer #carousel .image#fireswing-carouselImage {
  background-image: url(../img/mockups/fireswing-final.jpg);
}
/* line 272, ../sass/screen.sass */
.carouselWrapper .imageContainer #carousel .image#moviePoster-carouselImage {
  background-image: url(../img/mockups/movie-poster-mockup.jpg);
}
/* line 274, ../sass/screen.sass */
.carouselWrapper .imageContainer #carousel .image#personalId-carouselImage {
  background-image: url(../img/mockups/personal-id-mockup.jpg);
}
/* line 276, ../sass/screen.sass */
.carouselWrapper .imageContainer #carousel .image#apcEntertainment-carouselImage {
  background-image: url(../img/mockups/apc-entertainment.png);
}
/* line 278, ../sass/screen.sass */
.carouselWrapper .imageContainer #carousel .image#friendQuest-carouselImage {
  background-image: url(../img/mockups/friend-quest.png);
}

/* line 281, ../sass/screen.sass */
.mobileWork {
  display: none;
}

/* line 284, ../sass/screen.sass */
.descriptionBlock {
  min-height: 300px;
  max-width: 514px;
  position: relative;
  margin: 0 auto;
}
/* line 289, ../sass/screen.sass */
.descriptionBlock:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(204, 204, 204, 0), #cccccc, #cccccc, #cccccc, rgba(204, 204, 204, 0));
}

/* line 298, ../sass/screen.sass */
.descriptionSection {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
/* line 302, ../sass/screen.sass */
.descriptionSection.active {
  height: initial;
  visibility: visible;
  opacity: 1;
  margin: 0 auto;
  padding-top: 50px;
  transition: opacity 0.75s ease-in-out;
}
/* line 309, ../sass/screen.sass */
.descriptionSection h3, .descriptionSection h4 {
  text-align: center;
}
/* line 311, ../sass/screen.sass */
.descriptionSection h3 a:link, .descriptionSection h4 a:link, .descriptionSection h3 a:visited, .descriptionSection h4 a:visited {
  color: #cc514a;
  text-decoration: none;
  transition: all 0.26s ease-in-out;
}
/* line 315, ../sass/screen.sass */
.descriptionSection h3 a:hover, .descriptionSection h4 a:hover {
  color: #d77772;
}
/* line 317, ../sass/screen.sass */
.descriptionSection .showLess {
  display: none;
}

/* line 319, ../sass/screen.sass */
.moreSection {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin: 0;
  transition: all 0.26s ease-in-out;
}
/* line 325, ../sass/screen.sass */
.moreSection h4 {
  font-size: 1.25rem;
  text-align: left;
  margin: 20px 0 10px;
}
/* line 330, ../sass/screen.sass */
.moreSection ul li {
  line-height: 1.25rem;
  text-indent: 10px;
}
/* line 333, ../sass/screen.sass */
.moreSection ul li:before {
  content: "‒";
  font-weight: 600;
  margin-right: 5px;
}
/* line 337, ../sass/screen.sass */
.moreSection img {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
}
/* line 341, ../sass/screen.sass */
.moreSection .iterationDescription {
  margin-bottom: 40px;
}
/* line 343, ../sass/screen.sass */
.moreSection.show {
  opacity: 1;
  visibility: visible;
  height: initial;
}
/* line 347, ../sass/screen.sass */
.moreSection .episodeList {
  margin: 10px 0 40px;
}

/* line 349, ../sass/screen.sass */
.friendQuestPlayer {
  margin: 20px 0 40px;
}

/* line 354, ../sass/screen.sass */
.resumeArticle div {
  text-align: center;
  width: 50%;
  margin: 50px auto 20px;
}
/* line 358, ../sass/screen.sass */
.resumeArticle div img {
  box-shadow: 0 0 5px 0 #bbb;
  width: 100%;
  transition: all 0.26s ease-in-out;
}
/* line 362, ../sass/screen.sass */
.resumeArticle div img:hover {
  box-shadow: 0 0 15px 2px #bbb;
  transform: scale(1.01);
}
/* line 365, ../sass/screen.sass */
.resumeArticle div img a {
  display: inline-block;
}
/* line 367, ../sass/screen.sass */
.resumeArticle p {
  width: 50%;
  margin: 0 auto;
}
/* line 371, ../sass/screen.sass */
.resumeArticle p a:hover {
  color: #d77772;
}

/* line 375, ../sass/screen.sass */
#about {
  overflow: hidden;
}

/* line 377, ../sass/screen.sass */
.aboutRow {
  overflow: hidden;
  margin-bottom: 100px;
}
/* line 380, ../sass/screen.sass */
.aboutRow:last-child {
  margin-bottom: 0;
}
/* line 382, ../sass/screen.sass */
.aboutRow .aboutSection {
  width: 50%;
  padding-right: 48px;
  box-sizing: border-box;
  float: left;
}
/* line 387, ../sass/screen.sass */
.aboutRow .aboutSection:last-child {
  padding-right: 0;
}

/* line 389, ../sass/screen.sass */
.socialIcons {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
/* line 391, ../sass/screen.sass */
.socialIcons a {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
/* line 393, ../sass/screen.sass */
.socialIcons a:not(:first-of-type) {
  margin-left: 15px;
}
/* line 395, ../sass/screen.sass */
.socialIcons a:before {
  content: "";
  background-image: url(../img/social-icons-sprite.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}
/* line 403, ../sass/screen.sass */
.socialIcons a.linkedin:before {
  background-position: 0 -58px;
}
/* line 405, ../sass/screen.sass */
.socialIcons a.twitter:before {
  background-position: 0 -116px;
}
/* line 407, ../sass/screen.sass */
.socialIcons a.youtube:before {
  background-position: 0 -171px;
}

/* line 411, ../sass/screen.sass */
.topLink {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 1000;
  transition: none;
}
/* line 418, ../sass/screen.sass */
.topLink:link, .topLink:visited {
  color: #333;
  font-size: 2rem;
  font-weight: 100;
}
/* line 423, ../sass/screen.sass */
.topLink:before {
  display: block;
  content: "";
  font-family: "FontAwesome";
  font-size: 2.5rem;
  text-align: center;
}
/* line 430, ../sass/screen.sass */
.topLink.show {
  display: block !important;
}
/* line 432, ../sass/screen.sass */
.topLink.notFixed {
  position: absolute;
  bottom: 180px;
}

/* line 437, ../sass/screen.sass */
footer {
  background-color: #ccc;
  padding: 20px 48px;
}
/* line 440, ../sass/screen.sass */
footer .footerInner {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}
/* line 445, ../sass/screen.sass */
footer .footerInner > * {
  -ms-flex: 1 0 50%;
  -webkit-flex: 1 0 50%;
  flex: 1 0 50%;
}

/* line 448, ../sass/screen.sass */
.footerNav li + * {
  padding-top: 10px;
}

/* line 450, ../sass/screen.sass */
.copyright {
  font-size: 1rem;
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  /* line 458, ../sass/screen.sass */
  .resumeArticle div {
    width: 75%;
  }
  /* line 461, ../sass/screen.sass */
  .resumeArticle div img:hover {
    box-shadow: 0 0 5px 0 #bbb;
    transform: none;
  }
  /* line 464, ../sass/screen.sass */
  .resumeArticle p {
    width: 75%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 469, ../sass/screen.sass */
  h1 {
    font-size: 2rem;
    padding: 50px;
    width: 80%;
    min-width: 0;
  }

  /* line 475, ../sass/screen.sass */
  h2 {
    margin-bottom: 48px;
  }

  /* line 478, ../sass/screen.sass */
  .next-arrow {
    font-size: 5rem;
  }

  /* line 481, ../sass/screen.sass */
  .desktopWork {
    display: none;
  }

  /* line 483, ../sass/screen.sass */
  .mobileWork {
    display: block;
  }

  /* line 485, ../sass/screen.sass */
  .workBlock {
    margin: -48px 0 48px;
    padding-top: 48px;
  }
  /* line 488, ../sass/screen.sass */
  .workBlock img {
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 491, ../sass/screen.sass */
  .workBlock .showLess {
    display: none;
  }

  /* line 494, ../sass/screen.sass */
  .contentArticle {
    padding: 48px 48px 0;
  }

  /* line 497, ../sass/screen.sass */
  .resumeArticle div {
    width: 100%;
  }
  /* line 499, ../sass/screen.sass */
  .resumeArticle p {
    width: 100%;
  }

  /* line 501, ../sass/screen.sass */
  .aboutRow {
    margin: 0;
  }
  /* line 503, ../sass/screen.sass */
  .aboutRow .aboutSection {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 80px;
  }

  /* line 509, ../sass/screen.sass */
  footer .footerInner {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  /* line 514, ../sass/screen.sass */
  footer .footerInner > * {
    -ms-flex: 1 0 100%;
    -webkit-flex: 1 0 100%;
    flex: 1 0 100%;
  }

  /* line 516, ../sass/screen.sass */
  .footerNav {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 519, ../sass/screen.sass */
  .footerNav li {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  /* line 523, ../sass/screen.sass */
  .footerNav li:first-of-type {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-top: 0;
  }

  /* line 526, ../sass/screen.sass */
  .copyright {
    line-height: 1.5;
    text-align: center;
    padding-top: 20px;
    max-width: 170px;
  }

  /* line 532, ../sass/screen.sass */
  .topLink.notFixed {
    bottom: 180px;
  }
}
